html, body {
	background-color: #292841;
    padding-bottom:100px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Nunito Sans" !important;
}

p, div {
    font-family: "Open Sans" !important;
}

.navicon-fade {
    transition: opacity 0.3s;
    -webkit-transition: opacity 0.3s;
    opacity: 1;
}

.navicon-fade:hover {
    opacity: 0.5;
}

.navSpace {
    padding-top: 16px; 
    padding-bottom: 10px; 
    padding-left: 10px;
    padding-right: 10px;
}

.navbar-menu {
    background-color: #5865F2;
}

.navbar-item {
    color: #ffffff;
}

.navbar-burger {
    color: #ffffff;
}

.navbar-burger:hover {
    color: #d8d8d8;
}

.has-image-centered {
    margin-left: auto;
    margin-right: auto;
}

.footer {
    position: absolute;
    bottom:0;  /* on le colle en bas */
   width:100%;
   height:100px; 
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  object-position: 250px 125px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 340%;
  margin: -70%;
  left: 120%;
  right: 10%;
  bottom: -90%;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 10%;
  bottom: 10%;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus{
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.card {
  display: flex;
  height: 280px;
  width: 200px;
  background-color: #17141d;
  border-radius: 10px;
  box-shadow: -1rem 0 3rem #000;
  transition: 0.4s ease-out;
  position: relative;
  left: 0px;
}

.card:not(:first-child) {
  margin-left: -50px;
}

.card:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
}

.card:hover ~ .card {
  position: relative;
  left: 50px;
  transition: 0.4s ease-out;
}

.title {
  color: white;
  font-weight: 300;
  position: absolute;
  left: 20px;
  top: 15px;
}

.bar {
  position: absolute;
  top: 100px;
  left: 20px;
  height: 5px;
  width: 150px;
}

.emptybar {
  background-color: #2e3033;
  width: 100%;
  height: 100%;
}

.filledbar {
  position: absolute;
  top: 0px;
  z-index: 3;
  width: 0px;
  height: 100%;
  background: rgb(0, 154, 217);
  background: linear-gradient(
    90deg,
    rgba(0, 154, 217, 1) 0%,
    rgba(217, 147, 0, 1) 65%,
    rgba(255, 186, 0, 1) 100%
  );
  transition: 0.6s ease-out;
}

.card:hover .filledbar {
  width: 120px;
  transition: 0.4s ease-out;
}

.circle {
  position: absolute;
  top: 120px;
  left: calc(50% - 60px);
}

.stroke {
  stroke: white;
  stroke-dasharray: 360;
  stroke-dashoffset: 360;
  transition: 0.6s ease-out;
}

svg {
  fill: #17141d;
  stroke-width: 2px;
}

.card:hover .stroke {
  stroke-dashoffset: 100;
  transition: 0.6s ease-out;
}
