<%- include("partials/header") %>

<title>You don't have the permissions required!</title>

<div class="bg-light text-dark has-text-centered" style="padding-top: 65px;">
    <div class="p-5">
        <div class="container">
          <h2 class="is-size-2 has-text-white">You can't acces to this page!<br>You have not the permissions required!</h2>
        </div>
    </div>
</div>